#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 > #backgroundBox {
  position: absolute;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 > #alignmentBox {
  position: relative;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_1 {
  position: absolute;
  width: 1024.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_1 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_1 {
  position: absolute;
  width: 25.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_1 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_3 {
  position: absolute;
  width: 216.0px;
  height: 153.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_3 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_4 {
  position: absolute;
  width: 216.0px;
  height: 153.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_4 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_5 {
  position: absolute;
  width: 216.0px;
  height: 153.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_5 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_1 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_2 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_3 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_3 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Bg {
  position: absolute;
  width: 690.0px;
  min-height: 286.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Bg {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Bg span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Bg span#rtr-s-Bg_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_4 {
  position: absolute;
  width: 164.50521850585926px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_4 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_4 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 20.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 20.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 {
  position: absolute;
  width: 625.0px;
  height: 149.96585847135623px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 tr.odd {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 tr.even {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Header_1 {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_1 .verticalalign {
  vertical-align: middle;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_1 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_1 {
  width: 248.9837398373984px;
  height: 72.14379263468332px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_1 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_1 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_14 {
  width: 99.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_14 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 63px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_14 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_2 .verticalalign {
  vertical-align: middle;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_2 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_2 {
  width: 201.98170731707316px;
  height: 72.14379263468332px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_2 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_2 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_15 {
  width: 94.3359375px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_15 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 36px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_15 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_15 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_3 .verticalalign {
  vertical-align: middle;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_3 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_3 {
  width: 176.0px;
  height: 72.14379263468332px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_3 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Row_cell_3 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_16 {
  width: 74.779296875px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_16 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 32px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_16 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_16 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Current_row_1 {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_5 .verticalalign {
  vertical-align: top;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_5 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_5 {
  width: 248.9837398373984px;
  height: 77.82206583667289px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_5 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 .valign {
  vertical-align: middle;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_18 {
  position: absolute;
  width: 73.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_18 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_18 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_6 .verticalalign {
  vertical-align: top;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_6 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_6 {
  width: 201.98170731707316px;
  height: 77.82206583667289px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_6 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 .valign {
  vertical-align: middle;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_29 {
  position: absolute;
  width: 73.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_29 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_29 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_29 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_7 .verticalalign {
  vertical-align: middle;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_7 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_7 {
  width: 176.0px;
  height: 77.82206583667289px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Row_cell_7 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 {
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 .valign {
  vertical-align: top;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 input {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
  text-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Data_grid_1 .s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_18 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_18 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Input_4 {
  position: absolute;
  width: calc(214.0px - 71px);
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Input_4 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Input_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_5 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_5 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_2 {
  position: absolute;
  width: 80.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_2 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_27 {
  position: absolute;
  width: 109.58181818181819px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_27 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_27 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_27 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 21px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_12 {
  position: absolute;
  width: 10.063636363636363px;
  height: 5.590909090909091px;
  -webkit-transform: rotate(270.0deg);
  -moz-transform: rotate(270.0deg);
  transform: rotate(270.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_12 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_28 {
  position: absolute;
  width: 109.58181818181819px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_28 {
  box-shadow: none;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_28 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_28 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 21px;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_13 {
  position: absolute;
  width: 10.063636363636363px;
  height: 5.590909090909091px;
  -webkit-transform: rotate(270.0deg);
  -moz-transform: rotate(270.0deg);
  transform: rotate(270.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 #s-Image_13 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-1c6dca1e-7841-4c51-abc9-ef8f7e31bc38 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
