#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f > #backgroundBox {
  position: absolute;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f > #alignmentBox {
  position: relative;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_1 {
  position: absolute;
  width: 1024.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_1 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Image_1 {
  position: absolute;
  width: 25.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Image_1 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Image_5 {
  position: absolute;
  width: 80.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Image_5 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Image_3 {
  position: absolute;
  width: 1185.9396984924624px;
  height: 539.1478968792402px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Image_3 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Image_4 {
  position: absolute;
  width: 388.0px;
  height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Image_4 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #shapewrapper-s-Callout_1 .paddingLayer {
  left: 0.0px;
  right: 0.0px;
  top: 0.0px;
  bottom: 37.49998844691709px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #shapewrapper-s-Callout_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #shapewrapper-s-Callout_1 {
  position: absolute;
  filter: drop-shadow(7.0px 7.0px 2.5px #404040);
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Callout_1 {
  width: 440.99999999999983px;
  height: 367.4999933242797px;
  min-height: 367.4999933242797px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Callout_1 {
  box-shadow: 7.0px 7.0px 5px 0px #404040;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #shapewrapper-s-Callout_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #shapewrapper-s-Callout_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Paragraph_1 {
  position: absolute;
  width: 351.99999999999994px;
  min-height: 168.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Paragraph_1 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 24px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 span#rtr-s-Text_1_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 span#rtr-s-Text_1_2 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_1 span#rtr-s-Text_1_3 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Table_1 {
  position: absolute;
  width: 380.0px;
  height: 241.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Table_1 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Table_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_15 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_15 {
  width: 59.07260605658562%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_15 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_15 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_16 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_16 {
  width: 40.92739394341438%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_16 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_16 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_17 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_17 {
  width: 59.07260605658562%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_17 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_17 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_18 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_18 {
  width: 40.92739394341438%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_18 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_18 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_19 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_19 {
  width: 59.07260605658562%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_19 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_19 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_20 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_20 {
  width: 40.92739394341438%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_20 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_20 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_21 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_21 {
  width: 59.07260605658562%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_21 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_21 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_22 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_22 {
  width: 40.92739394341438%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_22 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_22 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_23 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_23 {
  width: 59.07260605658562%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_23 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_23 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_24 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_24 {
  width: 40.92739394341438%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_24 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_24 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_25 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_25 {
  width: 59.07260605658562%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_25 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_25 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_26 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_26 {
  width: 40.92739394341438%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_26 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_26 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_27 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_27 {
  width: 59.07260605658562%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_27 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_27 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_28 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_28 {
  width: 40.92739394341438%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_28 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_28 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Button_1 {
  position: absolute;
  width: 96.00000000000023px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Button_1 {
  box-shadow: none;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-3e303450-43ce-49e4-b5b7-9ec4dfbcc87f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
